---
layout: page
---
  <header class="post-header">
	<h3 class="post-title">{{ page.title }}</h3>
	<h5 class="post-description">{{ page.description}}</h5>
  </header>



{% if page.profile %}
  <div class="profile col one {{ page.profile.align }}">
    {% if page.profile.image %}
      <img  class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
    {% endif %}
  </div>
{% endif %}

{{ content }}
