    <span class="title">{{entry.title}}</span>
    <span class="author">
      {% for author in entry.author_array %}
        {% unless forloop.last %}
          {% if author.last == site.scholar.last_name %}
            <em>{{author.last}}, {{author.first | slice: 0 }}</em>,
          {% else %}
            {% if site.data.coauthors[author.last] %}
              <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first | slice: 0 }}</a>,
            {% else %}
              {{author.last}}, {{author.first | slice: 0}},
            {% endif %}
          {% endif %}
        {% else %}
          {% if author.last == site.scholar.last_name %}
            <em>{{author.last}}, {{author.first | slice: 0}}</em>
          {% else %}
            {% if site.data.coauthors[author.last] %}
              <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first | slice: 0}}</a>
            {% else %}
              {{author.last}}, {{author.first | slice: 0}}
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </span>
    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
    {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
    {% endif %}
    {% if entry.year %}
      ({{entry.year}})
    {% endif %}
    </span>

    <!-- <div class="text-justify">{{reference}}</div> -->
<button class="button0"  onclick="toggleBibtex{{entry.key}}()">Bibtex</button>
 
{% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}"><input class="button1" type="button" value="doi" /></a>
{% endif %}
 
{% if entry.preprint %}
    <a href="{{ entry.preprint }}"><input class="button2" type="button" value="preprint" /></a>
{% endif %}
 
{% if entry.link %}
    <a href="{{ entry.link }}"><input class="button4" type="button" value="link" /></a>
{% endif %}
 
{% if entry.code %}
    <a href="{{ entry.code }}"><input class="button3" type="button" value="code" /></a>
{% endif %}



  <span class="links">
  {% if entry.abstract %}
    [<a class="abstract">Abs</a>]
  {% endif %}
  </span>
<div id="a{{entry.key}}" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>
<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  {% endif %}

